body {
  margin: 0;
  font-family: "Orbitron", sans-serif;
}

h3 {
  color: white;
  font-size: 48px;
  margin-bottom: 18px;
}

.container {
  display: flex;
  justify-content: space-evenly;
  width: 800px;
  height: 400px;
  background-color: #19244d;
  border: 5px solid white;
  box-shadow: 1px 1px 5px darkblue;
  border-radius: 18px;
  margin: 100px auto 100px auto;
}

.half {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
}

.score-panel {
  background-color: black;
  height: 150px;
  width: 200px;
  color: #f94f6d;
  text-align: center;
  border-radius: 12px;
  font-size: 64px;
  margin-bottom: 18px;
}

.score-panel p {
  margin: 32px auto 0px auto;
}
.score-buttons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.score-buttons button {
  background-color: #19244d;
  padding: 6px;
  color: #afc3dd;
  font-family: "Orbitron", sans-serif;
  border: 2px solid #afc3dd;
  border-radius: 5px;
  font-size: 18px;
  margin: 5px;
  width: 44px;
}

.score-buttons button:hover {
  background-color: #afc3dd;
  color: #19244d;
}

#new-game {
  height: 60px;
  margin: auto 8px auto 8px;
  border-radius: 5px;
  border: 2px solid #afc3dd;
  background-color: #19244d;
  color: #afc3dd;
}

#new-game:hover {
  background-color: #afc3dd;
  color: #19244d;
}
